.luf{
    color: red;
}

.prowarp{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cardpro{
    width: 20%;
    border: 1px solid black;
    margin:20px;
    padding: 20px;

}

.cardpro h1{
    font-size: 20px;
    width: 310px;
}